body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  align-items: center;
}
.container  {
  max-width: 1500px;
  margin: 0 auto;
}
.banner{
  width: 105%;
  height: 800px;
  object-fit: cover;
  margin-left: -45px;  
}


.text-below {
  position:absolute;
  z-index: 2;
  color :blanchedalmond;
  font-size: 50px;
  font-weight:400 ;   
  text-align: right;
  padding-left: 40%;
  bottom: -10%;
}

 em{
  color: #C8FF00;
  font-weight :bolder;
  font-size: 60px;     
}

.color1 {
  color: #C8FF00;
  font-size: 50px;
  font-weight :bolder;
}
.color2 {
  color: #469B61;
  font-size: 55px;
  font-weight :600;
}
.color-gray{
  color:gray;
}
.row{
  display: flex;
  flex-wrap: wrap;
}

.col-100{
  width: 100%;
}
.col-20{
  width: 20%;
}
.col-25{
  width: 25%;
}
.col-33{
  width: 33.33%;
}
.col-50{
  width: 50%;
}
.col-80{
  width: 80%;
}
.mt-50{
  margin-top: 50px;
}
.bg-back{
  background-color: #183A43; 
}

.gr-back{
   background-color: #469B61;
   width: 1200px;
   height: 210px;
   margin-left: 10%;
}
.gr-marge{
  padding: 20px;
  border-radius: 20px;
}
.gray-back{
  background-color: rgb(241, 236, 236);
  padding: 150px;
  border-radius: 20px; 
}
.text-center{
  text-align: center;
}
.text-white  {
  color: white;
}

::placeholder  {
  color: white;
  font-family: "Poppins", sans-serif;
}


.padding {
  padding-right: 2%;
}
.image{
  height: 45px;
  width: 50px;
}

.team-image{
  width: 250px;
  height: 250px;
  object-fit: cover ;   /*affichage du contenu de l image*/
  border-radius: 50%;
  transition: transform .1s;
}
.team-image1{
  width: 650px;
  height: 420px;
  border-radius:20px; 
  margin-left: 60px ; 
  
}
.team1-image{
  position: absolute;
  color: #183A43;
  margin :auto;
}

 .image {
    width: 60px;
    height:50px ;
  } 

  .team2-image{
    position: absolute;
    color: #183A43;   
   padding: 40px 40px 40px 40px ;
   font-size: 10px;
      
  }
  .box { 
    position:relative ;
    width: 650px;
    height:auto   ;
    padding: 0.5em;
    border: 1px solid black;
    border-radius:20px;
    margin-left:3px;   
    padding-bottom: 2%;   
  }

  .cercle{
    position: relative;
    border-radius:50%;
    width:60px;
    height:60px;
    border:4px solid #183A43;  
    margin: 0 auto;
  
  }


.taille50{
  font-size: 20px;
  margin-bottom: 10% ;
}
.taille {
  font-size: 30px;
  
}  
.taille1 {
  font-size: 45px;
  font-weight:600;  /* ecriture gras*/
  
} 
.taille15 {
  font-size: 18px;
  margin: auto;
 
}



@media screen and (max-width: 780px) {
  
  .col-sm-100{
      width: 100%;
      position: relative;
    }
    .col-sm-50{
      width: 50%;
    }
    .col-sm-30{
      width: 33%;
    }
    .banner{
      width: 100%;
      height: 200px;
      object-fit: cover;    
    }
    
   
    .text-below { 
      position:absolute ;  
      z-index: 1;   
     font-size: 20px;
     white-space: nowrap;
     text-align: center;
     padding:10%;
       
    }
    
    .text-below em {      
      font-size: 35px;
      margin: 3px 30px 3px -60px;
         }

    .gr-back{   
      height: 230px;
         
       }
       .team-image1  {
       display: none;         
         }  
      
      }  
  

  .contact {
    flex: 1;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
  }

  .contact-ligne {
    display: flex;
      flex-direction: row;
      gap: 20px;
  }
  input , textarea   {
  
    width: 600px;
    height: 80px;
    color: white ;
    background: transparent;
    border-bottom: 4px solid blanchedalmond  ;
    border-top: none;
    border-right: none;
    border-left: none;     
    letter-spacing: 1px;    
    font-size: 20px;   
  
  }

  textarea   {  
    width: 1350px; 
  height: 300px;

  }
  .email  {  
  width: 1350px; 
  height: 80px ;
 
  } 
  
  .bouton-envoyer{
    background-color:#C8FF00;;
    border: none;
    color: black;
    padding: 20px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius:50px;    
    cursor: pointer;
    margin: 10px 40px 80px 0;    
    font-weight :bolder;
   
  } 

  .wrapper {
    display: flex;
  } 

/*Sliders */


.slider {
  margin: auto;   
  width: 90%; 
  max-width: 1500px;
  overflow: hidden; /* pour cacher les images*/
  border-radius: 10px;                          
  justify-content: center;
  align-items: center; 

}  
  .slides {
    display: flex; /* chaque slide prend 100% de la largeur du silder , une image va prendre toute la largeur et le reste va depasser a droite*/
   
  }
  .slide {
    min-width: 100%;
    transition : all  0.5s;

  }
  .slide img{    
    width: 100%; /*la taille de l image suit la largeur du slide */
    height: 768px;   
    display: block; /* pour que le  width: 100%; s affiche bien*/
  }
  .navigation{
    /*superposer les fleches sur le slider  por cela on rajoute "position absolute"et dans slider "position relative"*/
    top: 90%;
    width: 100%;/* element de navigation prend toute la largeur*/
    /*espaces entre les fleches */
    display: flex;
    justify-content: space-between;
  } 

   #next{
    background-color: black;
    color:#C8FF00;
    border: none;
    padding: 8px 20px;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;

  }
  #prev{
    background-color: white;
    color: black;  
    padding: 8px 20px;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
   
  }
  

